<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :manufacturer_url %><br>
    <%= f.text_field :manufacturer_url %>
  </div>
  <div class="field">
    <%= f.label :features %><br>
    <%= f.text_field :features_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
